.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo img {
    width:12%;
}
.profile-image-container {
    position: relative;
}

.profile-image {
    cursor: pointer;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.profile-card {
    position: relative;
    display: inline-block;
}


.profile-name {
    font-weight: bold;
    font-size: larger;
    margin-bottom: 13px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
}

.profile-menu {
    position: absolute;
    top: calc(100% + 10px);
    right: 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px;
    display: flex;
    flex-direction: column;
    z-index: 999;
    width: 200px;
}

.profile-menu-item {
    color: #3c009d;
    cursor: pointer;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    transition: background-color 0.3s;
}

.profile-menu-item:last-child {
    border-bottom: none;
}

.profile-menu-item:hover {
    background-color: rgba(101, 56, 182, 0.4);
}
