.table-container {
  overflow-x: auto;
  margin-left: 5px;
}
.custom-table {
  border-collapse: collapse;
  width: 100%; 
  max-width: calc(
    100% - 20px
  );
  border-radius: 8px;
  overflow: hidden;
}

.custom-table th {
  background-color: #f2f2f2;
  font-weight: bold;
  padding: 10px;
  text-align: left;
}

.custom-table td {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.custom-table tr:last-child td {
  border-bottom: none;
}

.custom-table th,
.custom-table td {
  white-space: nowrap;
}

.pagination {
  margin-top: 10px;
  text-align: center;
}

.pagination button {
  background-color: #f2f2f2;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 0 2px;
  padding: 5px 10px;
}

.pagination button:hover {
  background-color: #e0e0e0;
}

.pagination .active {
  background-color: #ccc;
}
